**/node_modules
.git
.gitignore
.dockerignore
**/*.config
**/*.env*
!**/.env.example
docker-compose.yml
Dockerfile
**/*.log
contracts/flats/
contracts/build/
contracts.sublime-project
contracts.sublime-workspace
